cloudpickle==3.1.2
contourpy==1.3.2
cycler==0.12.1
Farama-Notifications==0.0.4
fonttools==4.62.1
gymnasium==1.2.3
kiwisolver==1.5.0
matplotlib==3.10.8
numpy==2.2.6
opencv-python==4.13.0.92
packaging==26.0
pillow==12.2.0
pygame-ce==2.5.7
stable-baselines3
torch
pyparsing==3.3.2
python-dateutil==2.9.0.post0
six==1.17.0
typing_extensions==4.15.0
vizdoom==1.3.0
